.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar {
  background-color: #2979FF;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.navbar-title {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.navbar-subtitle {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjust the width to fit the screen */
  max-width: 400px; /* Set a maximum width for larger screens */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-top: 20px;
}

.input {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  padding: 10px;
  background-color: #2979FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #555555;
}

.select-semester {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.semester-dropdown:hover {
  border: 1px solid #555555;
}

.semester-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.semester-dropdown {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.qr-code {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 10px;
}

.download-button {
  padding: 10px;
  background-color: #2979FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #555555;
}

/* App.css */
/* ... (previous styles) */

/* Styling for the custom modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-message {
  font-size: 16px;
}

/* Additional styling for the PDF content */
.pdf-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdf-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pdf-details {
  font-size: 15px;
  margin-bottom: 5px;
}

/* ... (rest of the styles) */


/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  .form {
    width: 100%;
    max-width: none;
  }
}
